<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Hi, i am Yuvraj Singh Kiraula, a 3rd year CSE student at MIT, Ujjain.</p>
            <p> I have created this web application using NodeJs and ExpressJs hosted on heroku. It uses weatherstack api to fetch weather data.</p>
            <img src="/img/me.JPG" class="portrait" >
        </div>
        {{message}}
        {{>footer}}
    </body>
</html>