<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <h3>Click on the <a href="/">Weather</a> button to go to home page!</h3>
            <p>then :</p>
            <ol>
                <li>Enter your preffered location into the input box.</li>
                <li>Hit submit button.</li>
            </ol>
        </div>

        {{>footer}}
    </body>
</html>